.teaser {
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 1.5em;
}

.card ul.links {
  margin-bottom: 0;
}

.card > h2,
.card > h3,
.card > h4 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .card > h2,
  .card > h3,
  .card > h4 {
    margin-top: 0.3em;
  }
}
