<div class='teaser'>
  <div class="row row-no-gutters">
    {% if image is not empty %}
      <div class="col-md-5">
        {{ image }}
      </div>
    {% endif %}
    <div class="col-md-7">
      <div class='card'>
        {{ body }}
      </div>
    </div>
  </div>
</div>
