{#
/**
 * @file
 * Jumbotron pattern.
 */
#}

<div class="jumbotron">
  {{ title }}
  {{ subtitle }}
  {% if link_label is not empty and link_url is not empty %}
    <p><a class="btn btn-primary" href="{{ link_url }}" role="button">{{ link_label }}</a></p>
  {% endif %}
</div>
